body{
  background-color: ##f0eee8;
}

.card{
  font-family:;
  background-color: #cabdb2;
  color: #512200;
  font-size: 2.5rem;
  box-sizing: border-box;
  font-family: Georgia;
  line-height: 1.5;
}

h2{
text-align: left;
}

h3{
  text-align: top;
}
