body{
  background-color: #f0eee8;
}

*,*::before, *::after{
  box-sizing: inherit;

}
html{
  box-sizing:  border-box;
  line-height: 1.5;
  font-family: Georgia;
}

.link-card{
  font-family: Georgia;
  background-color: #cabdb2;
  color: #512200;
  font-size: 2.5rem;
  padding: 1rem;
  border-radius:3px;
  border-width: 3px;
  border-color: #9a816d;
  text-decoration: none;
  display: block;
}

.link-card h2{
  color: #512200;
  margin: 0;
  font-size: 1.5rem;
  font-family: dosis, sans-serif;
}

.card-list{
  color: #512200;
  padding: 1rem 0;
  display: inline-block;
  border-top: 2px #9a816d solid;
  border-bottom: 2px #9a816d solid;
  margin: 0;
}

dt {
  padding: 0;
  width: 50%;
  margin:0;
  float: left;
}

dl{
  font-family: Georgia, sans-serif;
  font-size: .875rem;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #785439;
}

dd {
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;

}
p{
  display: inline-block;
  color: #512200;
  text-decoration: none;
  font-family: Georgia, sans-serif;
  font-size: 1rem;
}

.btn-wrap{
  padding: 1rem 3.5rem 0;
}

.btn{
  font-family: Dosis, sans-serif;
  background-color: #785439;
  font-weight: bolder;
  font-size: 1.125rem;
  padding: .4em .75em .5em;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  border-style: none;
}

.link-card:hover{
  background-color: #cabdb2
}
